html {
    background-image: url("../img/motif2.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 223, 191);
}

header {
    background-color: rgb(20, 17, 17);
    height: 130px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 10px;
    box-shadow: 0 0 4px 0 rgb(20, 17, 17), 0 2px 4px rgb(20, 17, 17);
}

.menubar {
    font-size: 20px;
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 3%;
    padding-right: 3%;
    border-right: 2px solid rgb(231, 223, 191);
    font-size: 16px;
}

#last {
    border: none;
}

li > a {
    position: relative;
    color: rgb(231, 223, 191);
    text-decoration: none;
  }
  
li > a:hover {
    color: rgb(231, 223, 191);
  }

li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(231, 223, 191);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

body {
    margin: 0;
    padding-bottom: 30px;
}

.container {
    text-align: center;
}

article {
    border: 2px solid #C09E73;
	border-radius: 5px;
    background-color: rgb(20, 17, 17);
	height: 200px;
	width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.vline {
    border-bottom: 2px solid #C09E73;
    width: 300px;
    margin: 30px auto 30px auto;
}

/*Permet de remettre à l'endroit le mail*/
.obfusc {
    unicode-bidi: bidi-override;
    direction: rtl;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 0
}

.content {
    margin-top: 60px;
}

a {
    color: rgb(231, 223, 191);
}

a:hover {
    color: #C09E73;
}