html {
  background-image: url("../img/motif2.jpg");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(231, 223, 191);
}

header {
  background-color: rgb(20, 17, 17);
  height: 130px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  box-shadow: 0 0 4px 0 rgb(20, 17, 17), 0 2px 4px rgb(20, 17, 17);
}

body {
  margin: 0;
}

.return {
  font-size: 25px;
  text-align: center;
  margin: 0;
  height: 0;
  visibility: hidden;
}

#arrow {
  background-color: rgb(231, 223, 191);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.container {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 20px;
  padding: 0;
}

article {
  border: 2px solid #C09E73;
  border-radius: 5px;
  background-color: rgb(20, 17, 17);
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: rgb(231, 223, 191);
  text-align: center;
  font-size: 200%;
  line-height: 170px;
}

.vline {
  border-bottom: 2px solid #C09E73;
  width: 300px;
  margin: 30px auto 30px auto;
}

article:hover,
article:focus {
	transform: scale(1.1);
	box-shadow: 0 0 20px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}