html {
    background-image: url("../img/motif2.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 223, 191);
}

header {
    background-color: rgb(20, 17, 17);
    height: 130px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 10px;
    box-shadow: 0 0 4px 0 rgb(20, 17, 17), 0 2px 4px rgb(20, 17, 17);
}

body {
    margin: 0;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

hr {
	clear: both;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 35px;
    background-color: #C09E73;
    height: 1px;
    border-radius: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

article {
    border: 2px solid #C09E73;
	border-radius: 5px;
    background-color: rgb(20, 17, 17);
    height: fit-content;
	width: 80%;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.project_title {
    border-bottom: 2px solid rgb(231, 223, 191);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.date {
    float: left;
    width: 50%;
}

.duration {
    float: right;
    width: 22%;
    text-align: right;
}

.objectif {
    margin-top: 40px;
}

h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    min-height: 32px;
    max-height: max-content;
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.github {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#git {
    background-color: rgb(231, 223, 191);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    vertical-align: top;
}

div > a {
    color: rgb(231, 223, 191);
    text-decoration: none;
}

div > a:hover {
    color: #C09E73;
}